asgiref
async-timeout
certifi
charset-normalizer
coreapi
coreschema
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
pycodestyle
PyJWT
pytz
requests
ruamel.yaml
ruamel.yaml.clib
sqlparse
tomli
tzdata
uritemplate
urllib3